/* begin header */

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6232, #f6412e);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.header__navbar-list {
    list-style-type: none;
    padding-left: 0;
    margin: 10px 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 0.8rem;
    position: relative;
    min-height: 26px;
}

.header__navbar-item-user {
    display: flex;
    justify-items: center;
}

.header__navbar-item-user:hover .header__navbar-use-menu {
    display: block;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 4px;
}

.header__navbar-use-name {
    font-size: 1.4rem;
    font-weight: 400;
    position: relative;
}


/* username menu */

.header__navbar-use-menu::after {
    content: "";
    width: 112px;
    height: 20px;
    position: absolute;
    top: -13px;
    right: 0;
    display: block;
}

.header__navbar-use-menu {
    position: absolute;
    z-index: 1;
    top: 110%;
    right: 0;
    width: 160px;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px #e0e0e0;
    list-style: none;
    padding-left: 0;
    border-radius: 2px;
    display: none;
}

.header__navbar-use-menu::before {
    content: "";
    position: absolute;
    top: -25px;
    right: 0px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    display: block;
}

.header__navbar-use-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-use-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-use-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-use-item a {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 16px;
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-use-item a:hover {
    background-color: #fafafa;
}

.header__navbar-item-has-qr:hover .header__qr,
.header__navbar-link-item-notify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-link-item {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-link-item,
.header__navbar-icon {
    display: flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-link-item:hover,
.header__navbar-icon:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 1.6rem;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: -0.9rem;
}

.header__navbar-item--icon {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-item--icon:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 0.6rem;
}

.header__navbar-item--pointer {
    cursor: text;
    color: var(--white-color);
}


/* mã QR */

.header__qr {
    width: 18.6rem;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: FadeIn ease-in 0.2s;
    z-index: 1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.header__qr::before {
    content: "";
    width: 100%;
    height: 18px;
    position: absolute;
    top: -18px;
    left: 0;
}

.header__qr-img {
    width: 100%;
}

.header__qr_apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-icon--img {
    height: 14px;
}

.header__qr_link:first-child {
    margin-left: 10px;
}

.header__qr_link:last-child {
    margin-right: 10px;
}


/*  Header notification */

.header__notify {
    position: absolute;
    width: 40.4rem;
    top: 118%;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background-color: var(--white-color);
    transform-origin: calc(100% - 32px) top;
    animation: headerGrowth ease-in 0.25s;
    will-change: opacity, transform;
    /*  will-change trình duyệt tối ưu opacity, transform */
    display: none;
    z-index: 1;

    
    


}

.header__notify::before {
    content: "";
    position: absolute;
    top: -29px;
    right: 12px;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    display: block;

   
    
}

.header__notify::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    height: 20px;
    width: 100px;
    display: block;
}

@keyframes headerGrowth {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.header__notify-header {
    height: 4rem;
    background-color: var(--white-color);
    color: #d3d3d3;
}

.header__notify-header h3 {
    color: #ccc;
    margin: 0;
    font-size: 1.4rem;
    line-height: 4rem;
    margin: 0 12px 0;
    cursor: text;
    font-weight: 400;

}

.header__notify-list {
    padding-left: 0;
    height: 56vh;
    overflow-y: auto;
}

.header__notify-item {
    display: flex;
   

}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 77, 45, 0.08);
}

.header__notify-links {
    width: 100%;
    display: flex;
    text-decoration: none;
    padding: 12px;
   
    
}

.header__notify-img {
    width: 4.8rem;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;

}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    margin: 0;
    line-height: 1.8rem;
     display: -webkit-box;
  	-webkit-line-clamp: 2;
  	-webkit-box-orient: vertical;  
   	overflow: hidden;
    	
}

.header__notify-des {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.6;
    margin-top: 4px;
    font-weight: 400;
     display: -webkit-box;
  	-webkit-line-clamp: 2;
  	-webkit-box-orient: vertical;  
   	overflow: hidden;
   
}

.header__notify-footer {
    display: flex;
    background-color: #fcfcfc;
}

.header__notify-footer-btn {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--black-color);
    padding: 12px 0px;
    width: 100%;
    text-align: center;
}


/* auth modal */

.auth-form__container {
    padding: 0 32px;
}

.auth-form {
    width: 50rem;
    background-color: var(--white-color);
    border-radius: 2px;
    overflow: hidden;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
    font-weight: 500;
}

.auth-form__input {
    height: 40px;
    width: 100%;
    line-height: 40px;
    font-size: 1.4rem;
    margin-top: 16px;
    padding: 0 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    color: var(--text-color);
    padding: 0 12px;
}

.auth-from_text-link {
    text-decoration: none;
    color: var(--primary-color);
}


/* form controls */

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-from__socials {
    background-color: #f5f5f5;
    width: 100%;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-from__socials-icon {
    font-size: 1.8rem;
    color: var(--white-color);
}

.auth-from__socials-facebook {
    background-color: #3A5A98;
}

.auth-from__socials-google {
    color: #666;
    background-color: var(--white-color);
}

.auth-from__socials-title {
    margin: 0 32px;
}

.auth-from__socials-icon-size {
    font-size: 2.2rem;
}


/* login form */

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate {
    border-right: 1px solid var(--border-color);
    display: block;
    margin: 0 16px;
    height: 20px;
}

.auth-form__help-fogot {
    color: var(--primary-color);
    font-weight: 500;
}


/* header width-search */

.header__width-search {
    height: var(--header-width-search);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header_logo {
    width: 200px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    height: 40px;
    flex: 1;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    display: inline-block;
    padding: 0 12px;
    position: relative;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    width: 400px;
    position: absolute;
    top: calc(100% + 9px);
    right: -9px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 3px #ccc;
    animation: FadeIn ease-in 0.2s;
    cursor: default;
    display: none;
    z-index: 1;
    
   
}

.header__cart-list::after {
    content: "";
    cursor: pointer;
    position: absolute;
    top: -26px;
    right: 13px;
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}


/* no cart */

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart--no-cart-img,
.header__cart-list--no-cart .header__cart--no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart--no-cart-img {
    width: 50%;
    display: none;
}

.header__cart--no-cart-msg {
    font-size: 1.4rem;
    color: var(--text-color);
    display: none;
    margin-top: 20px;
}


/* cart */

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 56vh; 
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    justify-content: space-between;
    margin: 0 0 5px 0;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2;
     text-align: left;


}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-mutiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-quantity {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    font-size: 1.2rem;
    color: #757575;
    font-weight: 300;
}

.header__cart-item-remove {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 12px;
}

.header__cart-view-cart:hover {
    background-color: #f16449;
}

.header__cart-notice {
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 1px 7px;
    background: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
    cursor: pointer;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid var(--border-color);
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: #1b1b1b;
    padding: 10px 0;
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #3a3a3a;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.6rem;
    color: var(--white-color);
    padding: 0 16px;
}

.header__search-option {
    width: 130px;
    position: absolute;
    right: 0;
    top: calc(100% + 13px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    margin: 0;
    display: none;
    animation: FadeIn ease-in 0.2s;
    z-index: 1;
}

.header__search-option::before {
    content: "";
    position: absolute;
    top: -20px;
    width: 100%;
    height: 20px;
    display: block;
}

.header__search-option-item {
    list-style-type: none;
    padding: 8px 8px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
    background-color: #fffafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
    font-weight: 900;
}

.header__search-option-item-active i {
    display: inline-block;
}


/* Search history */

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 5px #ccc;
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-input:focus~.header__search-history {
    display: block;
}

.header__search-history-heading {
    color: #999;
    font-weight: 400;
    margin: 6px 14px;
}

.header__search-history-list {
    list-style-type: none;
    padding-left: 0;
    margin: 6px 0 0;
   
    
}

.header__search-history-item {
    height: 38px;
    padding: 0 14px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}


/* App container */

.app_container {
    background-color: #F5F5F5;
}

.app_content {
    padding-top: 34px;
   
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 16px 16px 0;
    margin-top: 0;
    text-transform: uppercase;

   
}



.category-list {
    padding-left: 0;
    list-style: none;
    
}



.category-item--active .category-item_link {
    color: var(--primary-color);
}


.category-item {
    position: relative;

}   
.category-item:first-child:before{
   display: none;
}
.category-item::before {
    content: "";
    border-top: 1px solid #E1E1E1;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
}

.category-item_link {
    position: relative;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 8px 20px;
    display: block;
   
  
}

.category-item_link:hover {
    
    color: var(--primary-color);
    cursor: pointer;
}


/* Home */

.home-filter {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 16px;
}

.home-filte__btn {
    margin-right: 12px;
    min-width: 90px;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-inpu__icon {
    font-size: 1.4rem;
    color: #3a3a3a;
    position: relative;
    top: 1px;
}

.home-filter__page {
    display: flex;
    align-items: center;
}

.select-input__list::before {
    content: "";
    width: 200px;
    height: 20px;
    position: absolute;
    top: -20px;
    right: 0;
}

.select-input__item-link:hover {
    color: var(--primary-color);
}

.select-input:hover .select-input__list {
    display: block;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    font-size: 1.2rem;
    text-decoration: none;
    flex: 1;
    background-color: var(--white-color);
    color: var(--text-color);
    display: flex;
    box-shadow: 0 1px 2px #e0e0e0;
}

.home-filter__page-btn.home-filter__page-btn-disabled {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn:first-child {
    border: 1px solid #eee;
}

.home-filter__page-btn-icon {
    margin: auto;
    font-size: 1.2rem;
    color: #555;
    font-weight: 800;
}


/* Product item */

.home-product {}

.home-product-item {
    margin: 10px 0;
    background-color: var(--white-color);
    position: relative;
    transition: transform  
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    transition: transform ease-in 0.1s;  
    will-change: transform;
    text-decoration: none;
    display: block;
}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);

}

.home-product-item__img {   
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
font-size: 1.4rem;
font-weight: 400;
color: var(--text-color);
line-height: 1.8rem;
margin: 8px 10px 0;
height: 3.6rem;
overflow: hidden;
display: block;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
/* chỉ sử dụng được 1 line*/
/*text-overflow: ellipsis;
white-space: nowrap;*/
}

.home-product-item-price {
    display: flex;
    margin-top: 6px;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item-price__old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
    
}

.home-product-item-price__current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
    

}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0; 
}

.home-product-item__like {
    font-size: 1.3rem;
}
.home-product-item__like-fill{
    display: none;
    color: rgb(242, 82, 32);
}

.home-product-item__like .home-product-item__like-fill{
    display: inline-block;
}
.home-product-item__like .home-product-item__like-empty{    
    display: none;
}

.home-product-item__rating {
    font-size: 0.6rem;
    margin: 1px 0 0 auto;
    color: #d5d5d5;
}

.home-product-item__rating-icon{
    
    color: var(--star-gold-color);
    
}
.home-product-item__sold{
    margin-left:6px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #555;
}

.home-product-item__origin {
    display: flex;
   
    margin:0 10px;
}

.home-product-item__brand,
.home-product-item__origin-name  {
    color: rgba(0,0,0,0.65);
}

.home-product-item__origin-name {
    margin-left: auto;
}

.home-product-item__favourite {
    border-top-right-radius: 3px;
     border-bottom-right-radius: 3px;
    color: var(--primary-color);
    background-color:currentColor;
    position:absolute;
    font-size: 1.2rem;
    font-weight: 400;
    top: 10px;
    left: -4px;
    padding-right: 4px;
 }
 .home-product-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    top:16px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}
.home-product-item__favourite span{
    color: var(--white-color);

}

.home-product-item-check {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    line-height: 1.6rem;
    
   

}

.home-product-item__sale-off {
    position:absolute;
    top:0;
    right: 0;
    background-color: rgba(255,216,64,0.94);
    width: 36px;
    height: 32px;
    text-align: center;
    border-top-right-radius: 2px;

}
.home-product-item__sale-off::after{
    content:"";
    position: absolute;
    bottom:-4px;
    left: 0;
    border-width: 0 18px 4px ;
    border-style: solid;
    border-color: transparent rgba(255,216,64,0.94) transparent rgba(255,216,64,0.94);

}

.home-product-item__sale-off-percent {
    font-weight: 600;
    color: #ee4d2d;
    margin: auto;
     font-size: 1.3rem;
     line-height: 1.3rem;
     margin: 2px 0 1px;
     display: block;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.2rem;
     line-height: 1.2rem;
     font-weight: 600;
}


.home-product__pagination{
    margin: 48px 0 32px;
}

/*footer*/


.footer{
     padding-top: 16px;
    border-top: 4px solid var(--primary-color);
    background: var(--white-color);
}

.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 500;
}
.footer-item{
    padding-left: 0;
    list-style: none;
}
.footer-item__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}
.footer-item__link:hover{
    color: var(--primary-color);
}
.footer-item__icon{
    font-size:1.6rem;
   margin: -1px 8px 0 0;
}
.footer-download{
    display: flex;
}
.footer-download__qr{
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}
.footer-download__app{
    flex: 1;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-download__app-link{
    text-decoration: none;
    color: transparent;
    
}
.footer-download__app-img{
    height: 20px;
    
}
.footer-bottom{
	padding: 8px 0;
    background: #f5f5f5;
    min-height:48px;
     margin-top: 36px;


}

.footer-bottom__about{
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0; 
    text-align: center;

}